.andromeda-heading{
    width: 100%;
    height: 100px;
    background-color: rgb(28, 3, 3);
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}
.andromeda-heading img{
    margin-right: 10px;
    border-radius: 50%;
}
.navbar-andromeda{
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: rgba(241, 231, 231, 0.967);
    display: flex;
    overflow: auto;
}
.navbar-text{
    width: 50%;
    height: 100%;
}
.navbar-menu{
    width: 50%;
    height: 100%;
    padding: 10px;
}
.navbar-menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.navbar-menu a{
    text-decoration: none;
    color: rgb(40, 27, 27);
}
.slider-andromeda{
    width: 100%;
    height: 450px;
    border-bottom: 1px solid black;
}
.word-andromeda{
    width: 80%;
    height: 250px;
    margin: 2px auto;
    display: flex;
}
.word-logo,.word-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.word-logo img{
    display: block;
    margin: 2px auto;
    border-radius: 50%;
}
.galery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.galery div{
    width: 33.33%;
    height: 250px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.galery h5{
    position: absolute;
    color: white;
    font-size: 1.3em;
}
.galery img:hover{
    opacity: 0.7;
}
.andromeda-footer{
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(26, 91, 149);
}
.andromeda-footer ul li{
    margin: 5px 0;
    text-align: center;
    font-family: cursive;
}
.header-menu ul li{
    margin-right: 10px;
}
.empty-post{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-post{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card-post{
    width: 33.33%;
    height: 300px;
    border: 1px solid black;
}
.card-img{
    width: 100%;
    height: 70%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content{
    width: 100%;
    height: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content a{
    /* display: block; */
    padding: 10px 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: brown;
}
.single-post-andromeda{
    width: 80%;
    padding: 10px;
    margin: 10px auto;
}
.single-post-andromeda h3{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
.andromeda-thumbnail{
    width: 100%;
    height: 300px;
    margin: 10px auto;
}
/* media query style */
@media screen and (max-width:690px) {
    body{
        font-size: 0.9em;
    }
    .navbar-menu {
        width: 100%;
    }
    .galery div{
        width: 50%;
    }
    .card-post{
        width: 50%;
    }
}